extends layouts/layout

block content
  form.ui.form#search(method="POST", action="/")
    .ui.fluid.icon.input
      input(type="text", name="location", placeholder="Where do you want to go..")
      i.search.icon

  .ui.relaxed.divided.items
    if yelpData
      each data in yelpData.businesses
        - var visiting = false

        //- Check if user is visiting the current Yelp business.
        if visitingPlaces
          each place in visitingPlaces
            if place == data.id
              - visiting = true

        .item
          if data.image_url
            .ui.small.image
              img(src= data.image_url)
          .content
            a.header(href= data.url, target="_blank")= data.name
            .meta
              each category in data.categories
                = category
            .extra
              img(src= data.rating_img_url)
            .extra
               = data.phone
            if data.is_closed
              .ui.label Closed
            else
              .ui.label Opened
            if loggedIn
              if visiting
                button.ui.miny.button.positive.visiting(data-yelp-id= data.id) Going
              else
                button.ui.miny.button.visiting(data-yelp-id= data.id) Going
block script
  script(src='/javascript/visiting.js')
